{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}Nueva Sección - {% endblock %}
{% set titlecontent = 'Nueva Sección'%}
{% set subtitlecontent = 'Rellene los campos para insertar una Sección '%}
{% set breadcrumb = [{'title': 'Secciones', 'link': path('treesection_listtreesections', {'idproject':idproject}), 'icon': 'sitemap'}, {'title': 'Nuevo', 'link': path('treesection_inserttreesection', {'idproject':idproject}), 'icon': 'sitemap'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}


{% block maincontent %}
    {% include 'TreesectionBundle:Default:insert.html.twig' %}
{% endblock %}         

{% block additionalscripts %}
    {{ parent() }}
    {% include 'TreesectionBundle:Default:insertscripts.html.twig' %}

{% endblock %}