{#
    Pacolmg
    Greetik Soluciones SL
    view the detail of an treesection
#}
{% extends 'BEInterfaceBundle:_Default:index.html.twig' %}

{% block subtitle %}{{ item.title }} - Sección - {% endblock %}
{% set titlecontent = item.title %}
{% set subtitlecontent = 'Edite los datos de '~item.title ~' desde aquí' %}
    {% set breadcrumb = [{'title': 'Secciones', 'link': path('treesection_listtreesections', {'idproject':item.project}), 'icon': 'sitemap'}, {'title': item.title, 'link': path('treesection_viewtreesection', {'id':  item.id}), 'icon': 'sitemap'}] %}
{% block breadcrumb %}{% include 'BEInterfaceBundle:_Default:breadcrumb.html.twig' %}{% endblock %}


{% block maincontent %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <div class="tabbable tabbable-custom tabbable-full-width">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Sección</a></li>
                    {% if modifyAllow == true %}<li><a href="#tab_1_3" data-toggle="tab">Editar</a></li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 profile-info">
                                        {% include('TreesectionBundle:Default:view.html.twig') %}
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--end col-md-12-->                               
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>

                    {% if modifyAllow == true %}
                        <!--tab_1_2-->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row profile-account">
                                <div class="col-md-3">
                                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab_1-1">
                                                <i class="fa fa-cog"></i> 
                                                Datos
                                            </a> 
                                            <span class="after"></span>                                    
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div id="tab_1-1" class="tab-pane active">
                                            {% include('TreesectionBundle:Default:modify.html.twig') %}
                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-9-->                                   
                            </div>
                        </div>
                    {% endif %}
                    <!--end tab-pane-->
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block additionalscripts %}
    {{ parent() }}
    {% include('TreesectionBundle:Default:insertscripts.html.twig') %}
{% endblock %} 