<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/jquery-nestable/jquery.nestable.css') }}" />
   <!-- BEGIN PAGE LEVEL SCRIPTS -->
   <script src="{{ asset('bundles/beinterface/plugins/jquery-nestable/jquery.nestable.js') }}"></script>  
    
   <script>
    var updateOutput = function (e) {
                $('#nestable_sections').css('display', 'none');
                $('#ajaxloader_nestable_sections').css('display', 'block');

            var list = e.length ? e : $(e.target), output = list.data('output');
                if (window.JSON) {
                    $.post('{{ path('treesection_ordertree', {'idproject': idproject}) }}', {sections: window.JSON.stringify(list.nestable('serialize')) }, function(r){
                            $('#nestable_sections').css('display', 'block');
                            $('#ajaxloader_nestable_sections').css('display', 'none');

                            if (!r){ alert('Error Desconocido'); return;}
                            if (r.errorCode>0){ alert(r.errorDescription); return;}
                    });
                } else {
                  alert('Su navegador no soporta esta funcionalidad.');
                }
                };
	
	jQuery(document).ready(function() {       
	  $('#nestable_sections').nestable({
	      group: 0
	  }).on('change', updateOutput);
	});
        </script>
