


   <div class="portlet box red">
      <div class="portlet-title">
         <div class="caption"><i class="fa fa-sitemap"></i>Secciones</div>
         <div class="tools">
         </div>
      </div>
    <div class="portlet-body">
    <div class="table-toolbar">
        <div class="btn-group">
                <a href="{{ path('treesection_inserttreesection', {'idproject':idproject}) }}" ><button class="btn red"> Nueva <i class="fa fa-plus"></i></button></a>
            <div class="clearfix"></div>
        </div>
     </div>
            
        <div id="ajaxloader_nestable_sections" style="display:none; text-align:center; margin:20px auto;"><img src="{{ asset('bundles/beinterface/img/ajax-modal-loading.gif') }}" /></div>    
        <div class="dd" id="nestable_sections"><ol class="dd-list">
        {% for treesection in data %}
            {% include 'TreesectionBundle:Default:indexli.html.twig' %}
        {% endfor %}
        </ol></div>
    </div>
   </div>