{% set configField = { 'label': 'Padre', 'field': 'parent', 'classesinput':'select2'} %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Título', 'field': 'title'} %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Cuerpo', 'field': 'body' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': '(SEO) Meta Title', 'field': 'metatitle' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': '(SEO) Meta Description', 'field': 'metadescription' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': '(SEO) Meta Tags', 'field': 'tags' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Privado', 'field': 'isprivate' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Ocultar menú', 'field': 'hidemenu' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Protegido', 'field': 'protected' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Link externo', 'field': 'externallink' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Extra', 'field': 'extra' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


{{ form_widget(new_form._token) }}
