    {% set idfield = 'treesection_body' %}
    {% include 'BEInterfaceBundle:_Scripts:texteditor.html.twig' %}    
    
    {% set fieldstoselect = '.select2' %}
    {% include 'BEInterfaceBundle:_Scripts:select.html.twig' %}    
