{%
    set configForm = {
        'id' : 'inserttreesection',
        'pathaction': path('treesection_inserttreesection', {'idproject':idproject}),
        'pathcancel': path('treesection_listtreesections', {'idproject':idproject}),
        'title': 'Sección',
        'icon': 'sitemap'
    }
%}

{% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}

        {% include 'TreesectionBundle:Default:insertform.html.twig' %}

    {% endblock %}                    
{% endembed %}
