
{%
                                set configForm = {
                                    'id' : 'modifytreesection',
                                    'pathaction': path('treesection_modifytreesection', { 'id': item.id }),
                                    'pathcancel': path('treesection_listtreesections', {'idproject':item.project})
                                }
%}


{% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}


        {% include 'TreesectionBundle:Default:insertform.html.twig' %}


        {{ form_widget(new_form._token) }}

    {% endblock %}                    
{% endembed %}
