
{% include "BEInterfaceBundle:_Modules:viewformerrors.html.twig" %}

<h1>{{ item.title }}</h1>
<div class="btn-group">
    {%set pathdelete= path('treesection_treesectiondelete', {'id': item.id })%}
    {% set id = item.id %}
    {% include('BEInterfaceBundle:_Scripts:deleteAny.html.twig') %}
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>                                        

{% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}                                    
{{ item.body | raw }}
<p>&nbsp;</p>
<ul class="list-inline">
    <li><i class="fa fa-user"></i> Añadido el {{ item.createdat|date("d/m/Y") }}</li>
    {%if item.externallink != '' and item.externallink is not null%}<li><i class="fa fa-link"></i> {{ item.externallink }}</li>{%endif%}
</ul>
<ul class="list-inline">
    {%if item.tags != '' and item.tags is not null%}<li><i class="fa fa-tags"></i> {{ item.tags }}</li>{%endif%}
    {%if item.isprivate is not null%} <li><i class="fa fa-lock"></i> Privado: {{ ((item.isprivate)?"Sí":"No") }}</li> {%endif%}
    {%if item.protected is not null%} <li><i class="fa fa-lock"></i> Protegido: {{ ((item.protected)?"Sí":"No") }}</li> {%endif%}
    {%if item.hidemenu is not null%} <li><i class="fa fa-unlock-alt"></i> Oculto: {{ ((item.hidemenu)?"Sí":"No") }}</li> {%endif%}
    {%if item.extra != '' and item.extra is not null%}<li><i class="fa fa-paperclip"></i> {{ item.extra }}</li>{%endif%}
</ul>
{% set arrayerror = app.session.flashbag.get('error') %}
{%if  arrayerror | length > 0 %}<div class="alert alert-danger"> {{ arrayerror[0]}} </div> {%endif%}
